<%= form_with model: habit do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% habit.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :days %><br>
    <%= form.number_field :days %><br>
    <% habit.errors.full_messages_for(:days).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
